
@{
    ViewData["Title"] = "TaiKhoan";
}

@model List<User>

    <h3>Tài khoản</h3>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <table class="table">
        <tr>
            <th>
                ID
            </th>
            <th>
                Tài khoản
            </th>
            <th>
                Mật khẩu
            </th>
            <th>
                Họ tên
            </th>
            <th>
                Tình trạng
            </th>
            <th>
                Quyền
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.id
                </td>
                <td>
                    @item.taiKhoan
                </td>
                <td>
                    @item.matKhau
                </td>
                <td>
                    @item.hoTen
                </td>
                <td>
                    @item.tinhTrang
                </td>
                <td>
                    @item.quyen
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }
    </table>
